h1 {
	font-family: Courier New;
	text-align: center;
}

li {
	font-family: Courier New;
}

.navstyle a {
	background-color: #FFFFFF;
	font-family: Courier New;
	color: #6D6E70;
}

.navstyle a:hover {
	background-color: #FFFFFF;
	color: #000000;
}

.navstyle {
	background-color: #FFFFFF;
}

.logo {
	height: 30px;
	width: 250px;
}

.mainimg {
	border-radius: 50%;
	height: 300px;
	width: 300px;
}

.subtext {
	font-family: Courier New;
	font-size: 12px;
}


.column {
  flex: 50%;
  margin: auto;
  padding: 10px;

}

.row {
	display:flex;
	text-align: center;
}

.pt5{
	padding-top: 5px;
}


.mt1{
	margin-top: 1em;
}

.imgcolumn img {
	height:200px;
	width: 200px;
	vertical-align: middle;
	display: inline-block;
}

.imgrow {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  text-align: center
}


